<!DOCTYPE html>
<html>
​
<head>
    <link rel="stylesheet" href="style2.css">
</head>
​
<body>
​	
    <section class="container">
        <div class="left-half">
            <article>
                <h1>Substitution</h1>
                <p>Substitute 3.26 lbs of tofu in your recipe for the 1 lb of ground beef in your Easy Korean Ground Beef Bowl recipe.</p>
            </article>
        </div>
        <div class="right-half">
            <article>
                <h1>Carbon Emissions</h1>
                <p>You reduced your carbone emissions by 3.54kg </p>
                <p></p>

				<img src="image/sustainability.jpg" class = "center">

            </article>
        </div>
    </section>
​
</body>
​
</html>